<div class="section">
  <h3>About Me</h3>
  <p><img src="/images/jt-as-knight.jpg" class="img-responsive img-thumbnail img-about-me" />I am JT which stands for Jeff Turner. I am a computer programmer making awesome web applications and mobile apps. I use Node.JS, Meteor, C#, JavaScript, and SQL daily.
  </p>
  <a class="btn btn-default" href="/about/" role="button">Read More »</a>
</div>
<div style="clear:both;">&nbsp;</div>
<div class="section">
  <h3>Awesome Shirt by JT</h3>
  <div style="width:150px;margin: auto;">
    <script language="javascript" src="http://www.zazzle.com/api/zp/zpanel?zp=117537915455104780"></script>
  </div>
</div>
